

$font-family: 'Noto Serif', serif;
$main-color: linear-gradient(to left bottom, #32f6f6, #68f7f7, #8af8f8, #a6f9f9, #bef9f9);
$secondary-color:linear-gradient(to right bottom, #32f6f6, #68f7f7, #8af8f8, #a6f9f9, #bef9f9);
$shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

$color:rgb(124, 113, 113)